*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.countercard{
   box-shadow: 0 0 8px black;
   padding: 40px;
   border-radius: 20px;
   display: flex;
   flex-direction: column;
   gap: 15px;
   align-items: center;
   justify-content: center;
}
button{
    padding: 10px;
    box-shadow: 0 0 12px black;
    border-radius: 10px;
    cursor: pointer;
}

#display{
    border: 2px solid black;
    padding: 10px;
}